{% extends 'main.html' %}

{% block content %}
  <div class="card mb-4">
    <div class="card-header bg-secondary text-white">
      <h2>{{ user.first_name }} {{ user.last_name }}'s Employer Profile</h2>
    </div>
    <div class="card-body">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Company Name:</strong> {{ profile.company_name }}</p>
      <p><strong>Company Website:</strong> 
        <a href="{{ profile.company_website }}" class="btn btn-outline-secondary" target="_blank">{{ profile.company_website }}</a>
      </p>
      <p><strong>LinkedIn:</strong> 
        <a href="{{ profile.linkedin_url }}" class="btn btn-outline-secondary" target="_blank">{{ profile.linkedin_url }}</a>
      </p>
    </div>
  </div>
{% endblock %}
